@import "../../common/style.scss";

.container {
  margin-left: 6.5rem;
  margin-right: 6.5rem;

  @media screen and (max-width: 768px) {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
}

// header

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: #131313;
}

// navbar

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1920px) {
    height: 6rem;
  }
}

.nav-logo {
  display: flex;
  width: 10.5rem;

  @media screen and (min-width: 1920px) {
    width: 18.5rem;
  }
}

.nav-logo h1 {
  color: #F4ACB7;
  font-size: 15px;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    font-size: 13px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 29px;
  }
}
.nav-logo h1 span {
  color: white;
}

.nav-toggle {
  font-size: 1.2rem;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    position: fixed;
    background-color: #131313;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: 0.4s;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.nav-link {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: white;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 0.4s;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    font-size: 17px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 26px;
  }
}

.nav-link:hover {
  background: linear-gradient(#D8E2DC, #F4ACB7);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background 0.2s;
}

// show menu

.show-menu {
  top: 0;
}

.nav-menu.show-menu .bar::before {
  bottom: 0;
}
.nav-menu.show-menu .bar::after {
  top: 0;
}

@media screen and (min-width: 767px) and (max-width: 1919px) {
  .nav-link {
    font-size:12px;
    text-transform: initial;
  }
  .nav {
    height: calc(2rem + 1.5rem);
  }
}

@media screen and (min-width: 767px) {
  // .nav-logo {
  //     width: 2rem;
  // }

  .nav-list {
    flex-direction: row;
    column-gap: 1.7rem;
  }
  .nav-toggle {
    display: none;
  }
}

.hamburger {
  height: 45px;
  width: 45px;
  border: 3px solid $first-color;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  // margin-right: 20px;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    height: 40px;
    width: 40px;
  }
}

.hamburger::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid $first-color;
  animation: hamburger_puls 1s ease infinite;
}

.hamburger .bar {
  height: 2px;
  width: 20px;
  position: relative;
  background-color: white;
  z-index: -1;

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    width: 17px;
  }
}

.hamburger .bar::after,
.hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.hamburger .bar::after {
  top: 8px;
}

.hamburger .bar::before {
  bottom: 8px;
}

.hamburger.active .bar::before {
  bottom: 0;
}

.hamburger.active .bar::after {
  top: 0;
}

@keyframes hamburger_puls {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.download {
  font-size: 14px;
}