@import '../../common/style.scss';

.bd-container {
  overflow-x: hidden;
  // max-width: 930px;
  // width: 92%;
  height: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 8rem;
  @media screen and (max-width: 768px) {
    margin-top: 70px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 7rem;
    margin-right: 7rem;
  }
  @media screen and (min-width: 1920px) {
    margin-top: 14rem;
  }
}

.portfolio-title {
  font-size: 1.125rem;
  color: #fdf1f3;
  margin: 1rem 0;
}

.container-work {
  display: flex;
  justify-content: space-evenly;
  margin: 100px 0 160px 0;

  @media screen and (max-width: 680px) {
    flex-direction: column;
    margin: 40px 0 100px 0;
  }

  .container-text {
    h4 {
      color: $font-color-dark;
      font-size: 23px;
      letter-spacing: 1px;
      margin-bottom: 23px;

      @media screen and (max-width: 780px) {
        font-size: 15px;
        margin-bottom: 18px;
      }

      @media screen and (min-width: 1920px) {
        font-size: 45px;
      }
    }
    .tech {
      color: $secondary-font;
      font-size: 18px;
      margin-bottom: 10px;
      @media screen and (max-width: 780px) {
        font-size: 13px;
      }
      @media screen and (min-width: 1920px) {
        font-size: 40px;
        margin-bottom: 40px;
      }
    }

    .tech-list {
      margin-bottom: 30px;
      .fab {
        margin-right: 10px;
      }

      @media screen and (max-width: 780px) {
        margin-bottom: 25px;
      }
      @media screen and (min-width: 1920px) {
        margin-bottom: 70px;
      }
    }
    @media screen and (min-width: 1920px) {
      margin-left: 180px;
    }

    @media screen and (max-width: 500px) {
      margin-left: 0px;
    }
  }

  @media screen and (min-width: 1920px) {
    margin: 250px 0 290px 0;
  }
}

.img-size {
  width: 500px;
  @media screen and (max-width: 680px) {
    width: 100%;
  }
  @media screen and (min-width: 1920px) {
    width: 870px;
  }
}

.container-work:nth-child(odd) .container-text {
  margin-left: 0;
  // margin-right: 150px;
  @media screen and (min-width: 700px) {
    order: -1;
  }

  @media screen and (min-width: 1920px) {
    margin-right: 180px;
    margin-left: 0;
  }
}

@media screen and (max-width: 700px) {
  .container-work:nth-child(4) {
    margin-bottom: 200px;
  }
}

.container-text .tech-list .fab:nth-child(1) {
  color: rgb(255, 123, 0);
}
.container-text .tech-list .fab:nth-child(2) {
  color: rgb(0, 140, 255);
}
.container-text .tech-list .fab:nth-child(3) {
  color: rgb(255, 208, 0);
}
.container-text .tech-list .fab:nth-child(4) {
  color: rgb(0, 132, 255);
}

.container-text .tech-list .fab {
  @media screen and (min-width: 1920px) {
    font-size: 40px;
  }
}

.button-projects {
  height: 100px;
  font-size: 20px;
  text-decoration: none;
  transform-style: preserve-3d;
  position: relative;
  transition: 0.5s;
  width: 150px;
  color: transparent;
  text-align: center;
  @media screen and (min-width: 1920px) {
    width: 300px;
    height: 60px;
    font-size: 35px;
  }
}

.button-projects::before {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  border-radius: 2px;
  background: transparent;
  color: $first-color;
  border: 3px solid $first-color;
  transition: 0.5s;
  transform-origin: right;
  transform: translateX(-100%) rotateY(90deg);
  width: 150px;
  text-align: center;
  @media screen and (min-width: 1920px) {
    width: 300px;
    height: 60px;
  }
}

.button-projects::after {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  border-radius: 2px;
  background: $first-color;
  color: #fff;
  border: 3px solid $first-color;
  transition: 0.5s;
  transform-origin: left;
  transform: translateX(0) rotateY(0deg);
  width: 150px;
  text-align: center;
  @media screen and (min-width: 1920px) {
    width: 300px;
    height: 60px;
  }
}

.button-projects:hover::before {
  transform: translateX(0) rotateY(0deg);
}

.button-projects:hover::after {
  transform: translateX(100%) rotateY(90deg);
}
