@import "../src/common/style.scss";

body.light-mode {
  background-color: white;
  color: $secondary-font;
  transition: all 0.3s;
}

body.light-mode h1,
h2,
h3 {
  color: $font-color;
}

body.light-mode .header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

body.light-mode .nav {
  background-color: white;
}

body.light-mode .nav h1 {
  color: $first-color;
}

body.light-mode .nav span {
  color: $font-color;
}

body.light-mode .nav .nav-link {
  color: $font-color;
}

body.light-mode .nav .nav-link:hover {
  background: linear-gradient(#D8E2DC, #F4ACB7);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: background 0.2s;
}

body.light-mode .nav .nav-toggle .hamburger .bar {
  background-color: $secondary-color;
  &::before,&::after {
    background-color: $secondary-color;
  }
}

@media screen and (max-width: 767px) {
  body.light-mode .nav .nav-menu {
    background-color: white;
  }
}

body.light-mode .hero-wrapper .scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid $first-color;
  position: absolute;
  left: 50%;
  bottom: 40px;
  border-radius: 50px;
  cursor: pointer;
}
body.light-mode .hero-wrapper .scroll-down::before,
body.light-mode .hero-wrapper .scroll-down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid $font-color;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

body.light-mode .hero-wrapper .scroll-down::after {
  top: 30%;
  animation-delay: 0.3s;
}

body.light-mode .about-page .title {
  color: $font-color;

  @media screen and (min-width: 1920px) {
    font-size: 5rem;
  }
}

body.light-mode .about-page .title span {
  position: absolute;
  top: 3%;
  left: 0;
  font-size: 5rem;
  opacity: 0.1;

  @media screen and (min-width: 1920px) {
    font-size: 8rem;
  }
}

body.light-mode .about-page .image-section .about-info {
  color: $font-color;
}
body.light-mode .about-page .image-section .about-info .about-text {
  color: $font-color;
}

body.light-mode .bd-container .title {
  color: $font-color;
}

body.light-mode .bd-container .title span {
  position: absolute;
  top: 3%;
  left: 0;
  font-size: 5rem;
  opacity: 0.1;
  @media screen and (min-width: 1920px) {
    font-size: 8rem;
  }
}

body.light-mode .skills-container .skill-grid li {
  background-color: white;
  border: transparent;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


body.light-mode .container-work .container-text .button-projects::before{
  background: #fff;
}
body.light-mode .container-work .container-text {
  h4 {
    color: $font-color;
  }
  .tech {
    color: $secondary-font;
  }
}

body.light-mode .contact-wrapper .title {
  color: $font-color;

  @media screen and (min-width: 1920px) {
    font-size: 5rem;
  }
}

body.light-mode .contact-wrapper .title span {
  position: absolute;
  top: 3%;
  left: 0;
  font-size: 5rem;
  opacity: 0.1;
  @media screen and (min-width: 1920px) {
    font-size: 8rem;
  }
}

body.light-mode .contact-wrapper .contact-section .info .subtitle-contact {
  color: $first-color;
}

body.light-mode .contact-wrapper .contact-section .info .title-contact {
  
  color: $secondary-font;
}


body.light-mode .contact-wrapper .contact-section .info .fancylink {
  color: $secondary-font;
}


body.light-mode .loader {
  background-color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}