@import "../src/common/style.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root{
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background: $first-color;
  border-radius: 50px;
}

body::-webkit-scrollbar-track {
  background: #d6b3bebe;
}

body {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.2rem;
  background-color: #131313;
  color: white;
  cursor: none;
  margin: 0;
  transition: all 0.3s;
  min-height: 100vh;
}

.loader {
  background-color: #131313;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3 {
  color: hsl(206, 4%, 95%);
}

h1 {
  font-size: 18px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: 2000;
}

.cursor-dot {
  width: 4px;
  height: 4px;
  background-color: $first-color;
}

.cursor-dot-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #b37a8b71;
  background-color: transparent;

  @media screen and (min-width: 1920px) {
    width: 80px;
    height: 80px;
  }
}

.links-container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 40px;
}

@media screen and (max-width: 1023px) {
  .cursor-dot,
  .cursor-dot-outline {
    display: none;
  }
}
